<!-- video.component.html -->
<div class="wrapper">
  <div class="video-div">
    <img src="../../../assets/videoIMG.png" alt="video preview" class="video-img">

    <p class="video-title">
      Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, 
      do município de Campinas/SP 
    </p>

    <div class="usr-wrapper">
      <div class="usr-details">
        <img src="../../../assets/videoIcon.svg" alt="usr" >
        <div class="video-usr-txt">
          <h2>
            Beatriz Christiane Melo
          </h2>
          <p>
            FCA / Universidade Estadual de Campinas
          </p>
        </div>

      </div>
    </div>

</div>