<div class="wrapper">
  <div class="video-div">
    <img src="../../../assets/videoIMG.png" alt="video preview" class="video-img">

    <p class="video-title">
      Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, 
      do município de Campinas/SP 
    </p>

    <div class="usr-wrapper">
      <div class="usr-details">
        <img src="../../../assets/videoIcon.svg" alt="usr" >
        <div class="video-usr-txt">
          <h2>
            Beatriz Christiane Melo
          </h2>
          <p>
            FCA / Universidade Estadual de Campinas
          </p>
        </div>

      </div>
    </div>
  </div>

  <div class="details-container">
    <div class="details-wrapper">
      <div class="details-header">
          <h2>Detalhes</h2>
      </div>
      <div class="details-info">
          <p>
            Tipo de Apresentação:
            <span>{{ detalhes.tipoApresentacao }}</span>
          </p>
          <p>
            Eixo Temático:
            <span>{{ detalhes.eixoTematico }}</span>
          </p>
          <p>
            Palavras-Chaves:
            <span *ngFor="let palavraChave of detalhes.palavrasChaves; let last = last">
              {{ palavraChave }}{{ !last ? ', ' : '' }}
            </span>
          </p>

          <p class="ul-title">Autores</p>
          <ul>
            <li *ngFor="let autor of detalhes.autores">{{ autor }}</li>
          </ul>
          <ul class="university-list">
            <li *ngFor="let university of detalhes.university">{{ university }}</li>
          </ul>
      </div>
    </div>
  </div>
 
</div>