
/* video.component.css */

.wrapper{
  padding: 36px;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.video-img{
  display: block;
}

.video-div {
  position: relative;
  width: 50%;
}

.video-title {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  padding: 10px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  max-width: 65%;
}

.usr-wrapper {
  position: absolute; 
  bottom: 50px;
  left: 0; 
  right: 0; 
  color: white;
  padding: 20px; 
}


.usr-details{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  img{
    width: 70px;
    
  }
}
.video-usr-txt{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
    p{
      font-weight: 900;
    }
}
.details-container{
    width: 20%;
    height: 100%;
    font-size: 14px;
    overflow-y: visible;
    font-family: "Quicksand", sans-serif;

}

.details-wrapper{
  border: 1px solid #ECECEC;
  p{
    color:#5C5C5C ;
  }
  span{
    font-weight:700;
  }
  li{
    font-size: 14px;
  }
}

.details-header{
  background-color:#FDF1EB;
  border-radius: 3px, 3px, 0px, 0px;
  padding: 14px;
}

.details-info{
  background-color: white;
  padding: 14px;
}
.ul-title{
  font-size: 16px;
  margin-top: 15px;
  font-weight: 700;
}
.university-list{
  color: #ADA0A0;

}
/* Remove os marcadores de lista */
ul {
  list-style-type: none;
  padding-inline-start: 0px;
}


