<div class="container">
  <div>
    <app-navBar></app-navBar>
  </div>

  <div class="body">
    <app-header></app-header>
    <div class="details-wrapper">
      <h2>Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP</h2>
      <div class="actions-wrapper">
        <div class="btns-wrapper">
          <button>
            <i class="fa-solid fa-download"></i>
            Donwload
          </button>
          <button>
            <i class="fa-solid fa-star"></i>
          </button>
          <button>
            <img src="../../../assets/doi.svg" alt="Doi Logo" class="doi-logo">
          </button>
        </div>
        <p>COMO CITAR ESSE TRABALHO?</p>
      </div>
    </div>
    <div>
        <app-video></app-video>
    </div>
  </div>

</div>