@import "~@fortawesome/fontawesome-free/css/all.css";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body{
    margin:0px
}

h2 {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

p{
    margin-block-start: 0em;
    margin-block-end: 0em;
}

button, select, a{
    cursor: pointer;
}